[MESSAGES CONTROL]
disable:too-few-public-methods,
        missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        too-many-arguments,
        consider-using-with,
        invalid-name,
        bad-staticmethod-argument,
        unexpected-special-method-signature,
        no-member,

[FORMAT]
max-line-length=100
